<div class="hero">
    <br />
    <div class="frosty col-10 offset-1 text-center">
        <br />
        <h1>Kirby</h1>
        <br />
        <h2>James</h2>
        <br />
        <%= link_to 'Explore Courses', courses_path, class: 'btn btn-success' %>
        <br /><br />
    </div>
</div>
<br />
<div class="row feature text-center">
    <div class="col-12 col-sm">
        <h3>Amazing Courses</h3>
        <br />
        <p>Choose from any number of courses to study with amazing professors.</p>
    </div>

    <div class="col-12 col-sm">
        <h3>Learn at Your Own Pace</h3>
        <br />
        <p>Enroll and access a courses archive of lessons.</p>
    </div>

    <div class="col-12 col-sm">
        <h3>Join our Community</h3>
        <br />
        <p>Learn with a community of like-minded individuals.</p>
    </div>
</div>
<div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-3">
                    <b>Teachers</b>
                    <br />
                    <%= link_to 'Teach a Course', new_instructor_course_path %>
                    <br />
                    <%= link_to 'My Dashboard', dashboard_path %>
                </div>
                <div class="col-12 col-sm-3">
                    <b>About</b>
                    <br />
                    <%= link_to 'Team', '#' %>
                    <br />
                    <%= link_to 'Careers', '#' %>
                    <br />
                    <%= link_to 'Privacy Policy', privacy_path %>
                </div>
                <div class="col-12 col-sm-3 mail">
                    <b>Contact</b>
                    <br />
                    <a href="mailto:kirbyy.james@gmail.com">kirbyy.james@gmail.com</a>
                    <br />
                    Los Angeles, CA 90745
                </div>
                <div class="col-12 col-sm-3 social">
                    <b class="text-center">Social</b>
                    <br />
                    <%= link_to 'https://github.com/kboygit' do %>
                        <span class="fa fa-github-square fa-2x social-button"></span>
                    <% end %>
                    <%= link_to 'https://twitter.com/kirbyyjames' do %>
                        <span class="fa fa-twitter-square fa-2x social-button"></span>
                    <% end %>
                    <%= link_to 'https://www.linkedin.com/in/kirbyyy' do %>
                        <span class="fa fa-linkedin-square fa-2x social-button"></span>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
