
    <div class="hero">
        <div class="row">
            <br />
            <div class="frosty col-md-4 text-center">
                <br />
                <h1>Be Able</h1>
                <br />
                <h2>From design to programming, take in-depth online courses and meet any challenge with skill. Get marketable skills.</h2>
                <br />
                <%= link_to 'Top Rated Courses', courses_path, class: 'btn btn-outline-success' %>
                <br /><br />
            </div>
            <br />
            <div class="frosty col-md-4 text-center">
                <br />
                <h1>Life Changing</h1>
                <br />
                <h2>Change your life through learning. Over 40,000 courses are offered and some are free for a limited time.</h2>
                <br />
                <%= link_to 'Trending Courses', courses_path, class: 'btn btn-outline-warning' %>
                <br /><br />
            </div>
            <br />
            <div class="frosty col-md-4 text-center">
                <br />
                <h1>Trusted Instructors</h1>
                <br />
                <h2>Learn from the best instructors in the world. Absorb their knowledge through online engagement.</h2>
                <br />
                <%= link_to 'New and Noteworthy', courses_path, class: 'btn btn-outline-info' %>
                <br /><br />
            </div>
        </div>
    </div>


<br />
<div class="row feature text-center">
    <div class="col-12 col-sm">
        <h3>Amazing Courses</h3>
        <br />
        <p>Choose from any number of courses to study with amazing professors.</p>
        <%= image_tag 'heart.png' %>
    </div>

    <div class="col-12 col-sm">
        <h3>Learn at Your Own Pace</h3>
        <br />
        <p>Enroll and access a courses archive of lessons.</p>
        <%= image_tag 'watch.png' %>
    </div>

    <div class="col-12 col-sm">
        <h3>Join our Community</h3>
        <br />
        <p>Learn with a community of like-minded individuals.</p>
        <%= image_tag 'theatre.png' %>
    </div>
</div>
<div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-3">
                    <b>Teachers</b>
                    <br />
                    <%= link_to 'Teach a Course', new_instructor_course_path %>
                    <br />
                    <%= link_to 'My Dashboard', dashboard_path %>
                </div>
                <div class="col-12 col-sm-3">
                    <b>About</b>
                    <br />
                    <%= link_to 'Team', team_path %>
                    <br />
                    <%= link_to 'Careers', career_path %>
                    <br />
                    <%= link_to 'Privacy Policy', privacy_path %>
                </div>
                <div class="col-12 col-sm-3 mail">
                    <b>Contact</b>
                    <br />
                    <a href="mailto:kirbyy.james@gmail.com">kirbyy.james@gmail.com</a>
                    <br />
                    Los Angeles, CA 90745
                </div>
                <div class="col-12 col-sm-3 social">
                    <b class="text-center">Social</b>
                    <br />
                    <%= link_to 'https://github.com/kboygit' do %>
                        <span class="fa fa-github-square fa-2x social-button"></span>
                    <% end %>
                    <%= link_to 'https://twitter.com/kirbyyjames' do %>
                        <span class="fa fa-twitter-square fa-2x social-button"></span>
                    <% end %>
                    <%= link_to 'https://www.linkedin.com/in/kirbyyy' do %>
                        <span class="fa fa-linkedin-square fa-2x social-button"></span>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
